In [11]:
name = ''' Hi How are you? 
Starterd learning python. 
It's really interesting.''' 
name[:]
name[-10:-5]
name[3:12]
name[12:3]
name[5:6]
name[::2]
name[::-2]

'.nteen larst\n.otpgire rtaS uyeawHi '

In [19]:
L1 = ['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
L1[:]
L1[::3]
L1[::-2]
type(L1[4])
L1[5:8]

[100, 300, 400]

In [1]:
l2 = [1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
l2[7][2]
l2[7][2:]

'ccess'

In [3]:
l2[2] = "BEE"
l2

[1, 2, 'BEE', 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [7]:
l2.remove("BEE")

ValueError: list.remove(x): x not in list

In [6]:
l2

[1, 2, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [9]:
dict1 = {'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']} 
l2.append(dict1)

In [10]:
l2

[1,
 2,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [12]:
d1 = {'a':10,'b':20,'c':'30'}
l2.insert(2,d1)

In [13]:
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': '30'},
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [14]:
len(l2)

9

In [15]:
l2[8]['insect']

['bee', 'moth']

In [17]:
l2[2]['a']

10

In [19]:
l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, 'Hundreds')]

In [22]:
l2[5][1:4]

'yth'

In [23]:
a = 100
type(a)

int

In [25]:
a = list(100)
type(a)

TypeError: 'int' object is not iterable

In [3]:
collection = [1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
new_collection = []
for i in collection:
    if type(i) == int or type(i) == float:
        new_collection.append(i * 5)
    else:
       new_collection.append(i)

new_collection

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [34]:
new_collection

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [35]:
collection.remove("Nisha")

In [4]:
collection

[1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]

In [5]:
collection.index(20.50)

6

In [11]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
[x for x in range(201) if x%13 == 0]

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [18]:
[x for x in range(200,300) if x % 4 == 0]

[200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248,
 252,
 256,
 260,
 264,
 268,
 272,
 276,
 280,
 284,
 288,
 292,
 296]

In [25]:
x = int(input("Enter a number"))
y = int(input("Enter a number"))

xlist = [x for x in range(x)]
ylist = [y for y in range(y)]

print(xlist)
print(ylist)

result = [(i,j) for i in xlist for j in ylist]
print(result)

[0, 1]
[0, 1, 2]
[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [26]:
s1 = {"Anuj","Pisole",22}
s2 = {"Pawan","Pisole","25"}

In [27]:
s1.union(s2)

{22, '25', 'Anuj', 'Pawan', 'Pisole'}

In [28]:
s1 | s2

{22, '25', 'Anuj', 'Pawan', 'Pisole'}

In [29]:
s1.intersection(s2)

{'Pisole'}

In [30]:
s2.intersection(s1)

{'Pisole'}

In [31]:
s2 & s1

{'Pisole'}

In [32]:
s1.add("Pune")

In [33]:
s1

{22, 'Anuj', 'Pisole', 'Pune'}

In [39]:
s2.add("Amravati")

In [44]:
s2

set()

In [47]:
s2.discard("Amravati")

In [43]:
s2.clear()

In [52]:
s1.remove("Pune")

In [56]:
s1

{22, 'Anuj', 'P', 'Pisole', 'Pune', 'e', 'n', 'u'}

In [55]:
s1.add("Pune")

In [53]:
s1.update("Pune")

In [58]:
s3={}
type(s3)

dict

In [59]:
s2.difference(s1)

set()

In [60]:
s1.difference(s1)

set()

In [61]:
s1
s2

set()

In [62]:
s1.add("ABC")

In [63]:
s1

{22, 'ABC', 'Anuj', 'P', 'Pisole', 'Pune', 'e', 'n', 'u'}

In [64]:
s2

set()

In [65]:
s2.add("abc")

In [66]:
s2

{'abc'}

In [67]:
s2.difference(s1)

{'abc'}

In [68]:
s1.difference(s2)

{22, 'ABC', 'Anuj', 'P', 'Pisole', 'Pune', 'e', 'n', 'u'}

In [70]:
sname = input("Enter the name")
dob = input("Enter date of birth")

password = sname[:4].upper()+'@'+dob[:2]+dob[3:5]
print("Yzour password is",password)

Yzour password is ANUJ@0207

In [72]:
for i in range(5):
    print(i * '*')

*
**
***
****

In [75]:
for i in range(4,0,-1):
    print(i * '*')

****
***
**
*

In [84]:
val = 'ABCD'
for i in range(len(val)):
    for j in range(i + 1):
        print(val[j],end=" ")
    print()

A
A B
A B C
A B C D

In [89]:
val = 'ABCD'
for i in range(len(val)):
    print(val[i] * (i+1))

A
BB
CCC
DDDD

In [90]:
l1 = []
for i in range(1,11):
    if i % 2 != 0:
        l1.append(i)

print(l1)

[1, 3, 5, 7, 9]

In [91]:
[x for x in range(11) if x % 2 != 0]

[1, 3, 5, 7, 9]

In [2]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5] 
new_list = []

In [3]:
for i in List2:
    if type(i) in (int,float,list,tuple,dict):
        new_list.append(i * 2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [102]:
new_list

[4, 140, 5.0, 6, 20, 605.0]

In [ ]:
def mobile_validate():
    mobile_number = (input("Enter a mobile number"))
    if len(mobile_number) != 10 :
        print("invalid mobile number")
    elif not mobile_number.isdigit():
        print("invaalid")
    else:
        print("Valid mobile number : ",mobile_number)

In [111]:
mobile_validate()

invalid mobile number
Valid mobile number :  12345678987

In [1]:
print("{}".format('__________________________________________________'))
print("{:^50}".format('|                 Welcome to Taj                | '))
print("{}".format('|                                               |'))
print("{}".format('|-----------------------------------------------|'))
print("|Sr     Menu                     Quant     Price|")
Sum = 0
n = int(input("Enter number of items"))
for i in range(1,n+1):
    menu = input("Enter the dish")
    Quant = int(input("Enter the quantity"))
    Price = int(input("Enter the price"))
    print("|",i,"   ",menu,"                  ",Quant,"        ",Price * Quant," |")
    Sum = Sum + (Price * Quant)
print("{}".format('|_______________________________________________|' ))
print("|        Total                            ",Sum," |")

__________________________________________________
|                 Welcome to Taj                |
|                                               |
|-----------------------------------------------|
|Sr     Menu                     Quant     Price|
| 1     Dosa                    2          100  |
| 2     Idli                    4          120  |
| 3     Vada Sambar                    2          80  |
|_______________________________________________|
|        Total                             300  |

In [2]:
marks = int(input("enter marks"))
if(marks > 80):
    print("you got A grade")
elif(marks >= 60 and marks <= 80):
    print("B Grade")
else:
    print("Fail")

B Grade

In [4]:
sal = int(input("Enter salary in lpa"))
rating = input("Enter rating reccieved between A ,B,C,D")
if sal < 5:
    if rating == 'A':
        inc = sal * 0.16
        x = sal + inc
        print("salary = ", x )
    elif rating == 'B':
        inc = sal * 0.12
        x = sal + inc
        print("salary = ", x )
    elif rating == 'C':
        inc = sal * 0.1
        x = sal + inc
        print("salary = ", x )
    elif rating == 'D':
        inc = sal * 0.06
        x = sal + inc
        print("salary = ", x )
    else:
        print("Salary =" ,sal)
elif sal > 5 and sal <= 10:
    if rating == 'A':
        inc = sal * 0.14
        x = sal + inc
        print("salary = ", x )
    elif rating == 'B':
        inc = sal * 0.1
        x = sal + inc
        print("salary = ", x )
    elif rating == 'C':
        inc = sal * 0.08
        x = sal + inc
        print("salary = ", x )
    elif rating == 'D':
        inc = sal * 0.06
        x = sal + inc
        print("salary = ", x )
    else:
        print("Salary =" ,sal)
elif sal > 10 and sal <= 15:
    if rating == 'A':
        inc = sal * 0.08
        x = sal + inc
        print("salary = ", x )
    elif rating == 'B':
        inc = sal * 0.06
        x = sal + inc
        print("salary = ", x )
    elif rating == 'C':
        inc = sal * 0.4
        x = sal + inc
        print("salary = ", x )
    elif rating == 'D':
        print("No Incremenrt",sal )
    else:
        print("Salary =" ,sal)
elif sal >15 and sal <=23:
    if rating == 'A':
        inc = sal * 0.07
        x = sal + inc
        print("salary = ", x )
    elif rating == 'B':
        inc = sal * 0.05
        x = sal + inc
        print("salary = ", x )
    elif rating == 'C':
        inc = sal * 0.4
        x = sal + inc
        print("salary = ",x )
    elif rating == 'D':
        print("No increment " ,sal)
    else:
        print("Salary =" ,sal)
else:
    print("You dont need increment")

You dont need increment

In [5]:
l1 = ['HR','Finance','MArketing','DS']
sub = input("Enter Subject you are opted for :")
fees = 200000
if sub in l1:
    stream = input("Enter the stream which your are opted Core or Analtics")
    if sub == 'HR':
        if stream == 'HR core':
            print("Fees",fees)
        elif stream == 'HR analytics':
            print("Fees",fees + fees * 0.1)
        else:
            print("Not having subject like this")
    elif sub == 'Finance':
        if stream == 'Finance core':
            print("Fees",fees)
        elif stream == 'Finance analytics':
            print("Fees",fees + fees * 0.1)
        else:
            print("Not having subject like this")
    elif sub == 'MArketing':
        if stream == 'Marketing core':
            print("Fees",fees)
        elif stream == 'Marketing analytics':
            print("Fees",fees + fees * 0.1)
        else:
            print("Not having subject like this")
    elif sub == 'DS':
        if stream == 'HR core':
            print("Fees",fees)
        elif stream == 'HR analytics':
            print("No analtics in DS")
        else:
            print("Not having subject like this")
    else:
        print("Sorry look for another subject")

Not having subject like this

In [ ]:
import sys
def marks_validate(marks):
    try:
        if marks > 100 or marks < 0:
            raise Exception("ERROR : YOu can not have these marks")
        else:
            print("Got it")
    except:
        print(sys.exc_info())
    finally:
        print("You got it")

In [12]:
marks_validate(58)

Got it
You got it

In [9]:
def name_validate(name):
    # name = input("Enter your name")
    try:
        if name.isalpha():
            print("OK")
        else:
            raise Exception("ERROR , Enter alphabets only")
    except:
        print(sys.exc_info())

In [12]:
name_validate("Anuj")

OK

In [14]:
name = input("Enter your name")
dob = input("Enter your DOB")
mobile = input("Enter your mobile num")

d1 = {'1':{"Name":name
           ,"Date of Birth" :dob
           ,"Mobile":mobile}}
d1

{'1': {'Name': 'Chris', 'Date of Birth': '12-11-2002', 'Mobile': '2345678901'}}

In [16]:
d1 = {}
c_no = 1

while True:
    name = input("Enter your name")
    dob = input("Enter your DOB")
    mobile = input("Enter your mobile num")

    d1[c_no] = {"Name":name
           ,"Date of Birth" :dob
           ,"Mobile":mobile}
    
    choice = input("Want to add another customer ? Y / N")
    if choice == 'N':
        break

    c_no += 1

print(d1)

{1: {'Name': 'Pawan', 'Date of Birth': '26-11-2000', 'Mobile': '5678901234'}, 2: {'Name': 'Harshal', 'Date of Birth': '26-06-2003', 'Mobile': '9087654321'}}

In [18]:
import json
d1 = {}
c_no = 1

while True:
    name = input("Enter your name")
    dob = input("Enter your DOB")
    mobile = input("Enter your mobile num")

    d1[c_no] = {"Name":name
           ,"Date of Birth" :dob
           ,"Mobile":mobile}
    
    choice = input("Want to add another customer ? Y / N")
    if choice == 'N':
        break

    c_no += 1

print(d1)

with open("cust_info.txt","w") as f:
    f.write(json.dumps(d1,indent=4))

print("ALL information is saved")

{1: {'Name': 'Anuj', 'Date of Birth': '02-07-2003', 'Mobile': '1234567890'}, 2: {'Name': 'Pawan', 'Date of Birth': '26-11-2003', 'Mobile': '4567890123'}}
ALL information is saved

In [27]:
Dict1= {"Key": {"subkey":20} ,  "k2":{"sub2" : 5}, "k3" : {"sub4" :16},  "k4" : {"sub4" : 6}} 

sort_dict = dict(sorted(Dict1.items(),key=lambda item:list(item[1].values())[0]))

print(sort_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [33]:
from datetime import datetime
def cal_age(dob):
    dobb = datetime.strptime("dob","%d-%m-%Y")
    today = datetime.today()
    age = today.year - dobb.year

In [36]:
cal_age(2-7-2003)

ValueError: time data 'dob' does not match format '%d-%m-%Y'

In [ ]:
def check_eligibile(dob,age):

In [37]:
def palindrome(str):
    if str == str[::-1]:
        print("YEs")
    else:
        print("No")

In [39]:
palindrome("NITI")

No

In [45]:
def fibo(n):
    if n <= 1:
        print(n)
    a = 0
    b = 1
    print(a)
    print(b)
    for i in range(n):
        c = a+b
        a = b
        b = c
        print(c)

In [46]:
fibo(100)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075
573147844013817084101

In [55]:
def fact(n):
    if n <= 1:
        print(n)
    
    fact = 1
    for i in range(1,n+1):
        fact = fact * i

    print(fact)

In [56]:
fact(5)

120

In [59]:
l1 = [1,7,3,6,4,9,11,6,5]
largest = l1[0]
for i in l1:
    if i > largest:
        largest = i

print(largest)

11

In [63]:
l1 = [1,2,3,1,1,2,3,2,1]

freq = {}

for i in l1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print(freq)

{1: 4, 2: 3, 3: 2}

In [64]:
price_dict = {'books':{'1-4' : {'Hindi' : 60 , 'Marathi' : 60,'English' : 80 ,'Science' : 90,'Maths' : 100},
                            '5-8' : {'Hindi' : 100 , 'Marathi' : 100,'English' : 100 ,'Science' : 120,'Maths' : 40},
                            '9-10' : {'Hindi' : 150 , 'Marathi' : 150,'English' : 150 ,'Science' : 200,'Maths' : 250}} ,
            'notebook'   : {'100 P' : {'Square' : 40,'4lines' :30,'2lines':30,'singlelines':60,'A4':100},
                            '200 P' : {'Square' : 70,'4lines' :50,'2lines':50,'singlelines':100,'A4':180}}}